@import './variables.scss';

.banner {
    background-color: $heading-color;
    min-height: 110px;
    color: white;
    font-size:26px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: $elementSpacing;
    align-items: center;
    display: flex;

    div {
      margin-left: auto;
      margin-right: auto;
    }
}
