@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply p-0 m-0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  a {
    @apply text-inherit no-underline transition-all duration-300 ease-in-out;
  }

  a:hover {
    @apply text-site-color;
  }

  * {
    @apply box-border;
  }

  h1 {
    @apply text-[1.6rem] font-semibold tracking-wide leading-[1.625] mt-[15px] mb-5;
  }

  h2 {
    @apply text-base sm:text-xl font-semibold tracking-wide leading-[1.625] mb-5;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    @apply block align-middle h-auto max-w-full;
  }

  p {
    @apply mb-5 text-main-text-color leading-[1.625];
  }

  ol,
  ul {
    @apply text-main-text-color ml-5 mb-5 leading-[1.625];
  }

  ol {
    @apply list-decimal;
    list-style-position: outside;
  }

  ul {
    @apply list-disc;
    list-style-position: outside;
  }
}

@layer components {
  .container {
    @apply w-full mx-auto sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1536px];
  }

  .hidden {
    @apply hidden;
  }

  .logo {
    @apply p-5 flex justify-left items-left sm:justify-center sm:items-center font-bold text-xl sm:text-2xl border-b border-border;
  }

  .logo span {
    @apply text-heading-color;
  }

  .logo .nav-button {
    @apply absolute right-2 top-[18px] items-center sm:hidden;
  }

  .logo .nav-button button {
    @apply p-2 inline-flex justify-center items-center bg-transparent border-0 outline-none;
  }

  .logo .nav-button button:focus {
    @apply border-0 outline-none;
  }

  .logo .nav-button button span {
    @apply absolute w-px h-px p-0 -m-px overflow-hidden border-0;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
  }

  .logo .nav-button button svg {
    @apply w-6 h-6;
  }

  .searchButton {
    @apply absolute right-[50px] top-[26px] sm:top-auto;
  }

  .search {
    @apply bg-black transition-all duration-300 ease-in-out opacity-0 h-0 overflow-hidden px-5;
  }

  .search.active {
    @apply opacity-100 h-auto py-[10px];
  }

  .search div {
    @apply mx-auto;
  }

  .search div form {
    @apply flex;
  }

  .search div form input {
    @apply w-full bg-transparent text-white border-0;
  }

  .search div form input:focus {
    @apply border-0 outline-none;
  }

  .search div form button {
    @apply p-[5px] bg-transparent outline-none border-0;
  }

  .search div form button svg {
    @apply fill-white;
  }

  nav div:nth-child(1) {
    @apply hidden sm:flex sm:h-20 sm:justify-center sm:items-center;
  }

  nav div:nth-child(1) a {
    @apply px-3 py-2 text-base font-medium;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }

  nav div:nth-child(2) {
    @apply sm:hidden py-2 px-2 pb-3;
  }

  nav div:nth-child(2) a {
    @apply block px-3 py-2 text-base font-medium;
  }

  footer {
    @apply border-t border-border mx-auto p-5;
  }

  .block-img img {
    @apply bg-gray-300;
  }
}
