@import "./variables.scss";

$articleSidePaddingBase: 2rem;
$articleSidePaddingSm: 30px;
$articleSidePaddingMd: 30px;
$articleSidePaddingLg: 80px;
$articleSidePaddingXl: 50px;
$articleSidePaddingXXl: 60px;

.post {
  padding: $pagePaddingBase;
  @media (min-width: $sm) {
    padding: $pagePaddingSm;
  }

  article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $elementSpacing;
    overflow-wrap: break-word;
    @media (min-width: $sm) {
      box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
    }

    header {
      img {
        min-width: 100%;
      }
      h1 {
        padding: 0 $articleSidePaddingBase 0 $articleSidePaddingBase;
        @media (min-width: $sm) {
          padding: 0 $articleSidePaddingSm 0 $articleSidePaddingSm;
        }
        @media (min-width: $lg) {
          padding: 25px $articleSidePaddingLg 0 $articleSidePaddingLg;
        }
        margin-bottom: 0;
      }
      p {
        font-style: italic;
        font-size: 14px;
        margin: 0;
        padding: 0 $articleSidePaddingBase 0 $articleSidePaddingBase;
        @media (min-width: $sm) {
          padding: 0 $articleSidePaddingSm 0 $articleSidePaddingSm;
        }
        @media (min-width: $lg) {
          padding: 0 $articleSidePaddingLg 0 $articleSidePaddingLg;
        }
      }
    }

    & > div {
      padding: 0 $articleSidePaddingBase $elementSpacing/2
        $articleSidePaddingBase;
      @media (min-width: $sm) {
        padding: 0 $articleSidePaddingSm $elementSpacing/2 $articleSidePaddingSm;
      }
      @media (min-width: $lg) {
        padding: 0 $articleSidePaddingLg $elementSpacing/2 $articleSidePaddingLg;
      }
    }

    footer {
      color: $main-text-color;
      padding: 15px 0 30px;
      margin: 0 $articleSidePaddingBase $elementSpacing $articleSidePaddingBase;
      @media (min-width: $sm) {
        margin: 0 $articleSidePaddingSm $elementSpacing $articleSidePaddingSm;
      }
      @media (min-width: $lg) {
        margin: 0 $articleSidePaddingLg $elementSpacing $articleSidePaddingLg;
      }

      a {
        &:after {
          content: ", ";
        }
        &:last-child {
          &:after {
            content: "";
          }
        }
      }
    }

    .comments {
      margin: 0 $articleSidePaddingBase $elementSpacing $articleSidePaddingBase;
      @media (min-width: $sm) {
        margin: 0 $articleSidePaddingSm $elementSpacing $articleSidePaddingSm;
      }
      @media (min-width: $lg) {
        margin: 0 $articleSidePaddingLg $elementSpacing $articleSidePaddingLg;
      }
    }
  }
}
