@import './variables.scss';

.sectionHeading {
    position: relative;

    h2 {
      font-size: 30px;
      @media (min-width: $sm) { 
        font-size: 36px;
      }
      margin-bottom: $elementSpacing;
      text-align: center;
        
        &:after {
            content: '';
            position: absolute;
            width: 70px;
            height: 2px;
            left: 50%;
            transform: translate(-50%);
            bottom: -10px;
            background-color: $site-color;
        }
    }
}