// Responsive Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// Spacing
$elementSpacing: 2.5rem;
$pagePaddingBase: 0;
$pagePaddingSm: 0 2rem;

// Colours
$site-color: rgb(255, 122, 127);
$text-on-site-color: #fff;
$heading-color: $site-color;
$main-text-color: #757575;
$border: #e8edf1;
